<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="leap_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="index_pip_flex_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['index_pip_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="index_pip_abb_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['index_pip_abb_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="index_mcp_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['index_mcp_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="index_dip_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['index_dip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="middle_pip_flex_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle_pip_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="middle_pip_abb_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle_pip_abb_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="middle_mcp_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle_mcp_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="middle_dip_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['middle_dip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ring_pip_flex_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ring_pip_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ring_pip_abb_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ring_pip_abb_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ring_mcp_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ring_mcp_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ring_dip_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ring_dip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="thumb_cmc_abb_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['thumb_cmc_abb_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="thumb_cmc_flex_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['thumb_cmc_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="thumb_mcp_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['thumb_mcp_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="thumb_ip_joint">
                <command_interface name="position"/>
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['thumb_ip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
